MONGODB_URI=
JWT_SECRET=
ADMIN_EMAIL=admin@softstore.com
ADMIN_PASSWORD=admin123456
CLOUDINARY_CLOUD_NAME=dmujz01ks
CLOUDINARY_API_KEY=649954773212922
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
